@media print {
  body {
    background: white;
    color: black;
  }
  a {
    display: none;
  }

  .btn {
    display: none; /* Hide buttons during printing */
  }

  .card {
    border: none;
    box-shadow: none;
  }
}
